.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;
    &__title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
    &__list {
        width: 60%;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);
        &-title, &-price  {
            width: 250px;
            text-align: center;
            color: #fff;
            font-size: 24px;
        }
        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
        &-quantity {
            margin-left: 10px;
            font-size: 16px;
        }
    }
    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    &__close:hover {
        background-color: rgba(233, 18, 18, 0.7);
    }
    &__btn-pay {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto ;
        margin-bottom: 15px;
        margin-top: 15px;
        // background-color: #29a745;
        background-color: rgba(14, 149, 202, 0.6);
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        width: 150px;
        height: 40px;
        border: none;
        text-decoration: none;
    }
    &__btn-pay:hover {
        background-color: rgba(14, 149, 202, 1);
    }
}