.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: rgba(0,0,0, .8);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    &__link {
        display: flex;
        margin-right: 40px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
    &__cart {
        width: 20px;
        margin-right: 10px;
    }
    &__burger {
        cursor: pointer;
    }
}

.parent-link {
    display: flex;
}
